<div class="row">
    <div class="form-panel">
        <a class="btn btn-default pull-right" ng-href="#/unit-type/">Kembali ke list satuan unit</a>

        <h3 class="mb"><i class="fa fa-angle-right"></i> Update satuan unit</h3>

        <div ng-class="alert">
            {{ responseMessage }}
        </div>
        <form class="form-inline" role="form" ng-submit="updateUnitType()">
            <div class="form-group">
                <label class="col-sm-4 control-label" for="unit_type_field">Satuan Unit</label>
            </div>
            <div class="form-group">
                <input type="hidden" ng-value="unitType.id">
                <div class="col-md-8">
                    <input type="text" id="unit_type_field" class="form-control" ng-model="unitType.name"
                           placeholder="Nama tipe unit">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-sm">Submit</button>
            </div>
        </form>
    </div>
</div>