<h3><i class="fa fa-angle-right"></i>Detail Penjualan - {{ sale.invoice_number }}</h3>

<div class="row mt">
    <div class="col-lg-12">
        <div class="grey-panel pn">
            <div class="grey-header">
                <h5>Detail Penjualan</h5>
            </div>
            <table class="table table-bordered table-striped table-condensed">
                <tbody>
                    <tr>
                        <td>Nomor Bon</td>
                        <td>{{ sale.invoice_number }}</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>{{ sale.total }}</td>
                    </tr>
                    <tr>
                        <td>Pembayaran</td>
                        <td>{{ sale.cash }}</td>
                    </tr>
                    <tr>
                        <td>Kembalian</td>
                        <td>{{ sale.change }}</td>
                    </tr>
                    <tr>
                        <td>Kasir</td>
                        <td>{{ sale.employee.username }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /col-lg-12 -->
</div>

<div class="row mt">
    <div class="col-lg-12">
        <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i> List Produk</h4>
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Produk</th>
                    <th>Jumlah</th>
                    <th>Harga</th>
                    <th>Diskon</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="saleProduct in saleProducts">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ saleProduct.product_name }}</td>
                    <td>{{ saleProduct.item_count }}</td>
                    <td>{{ saleProduct.price }}</td>
                    <td>{{ saleProduct.discount }}</td>
                    <td>{{ saleProduct.total }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /content-panel -->
    </div>
    <!-- /col-lg-12 -->
</div><!-- /row -->
