<h3><i class="fa fa-angle-right"></i> Penjualan</h3>

<div class="row mt">
    <div class="col-lg-8">
        <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i> List satuan unit</h4>

            <div class="form-inline">
                <label>Cari produk di sini</label>
                <input select-all type="text" placeholder="Ketik nama obat" ng-model="selected" typeahead="item as item.name for item in getProducts($viewValue) | filter:$viewValue | limitTo:8" class="form-control" typeahead-loading="loadingLocations" typeahead-on-select='onSelect($item, $model, $label)'>
                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
            </div>

            <table class="table table-bordered table-striped table-condensed">
                <thead>
            <tr>
                <th>Hapus</th>
                <th>Nama</th>
                <th>Id Produk</th>
                <th>Satuan</th>
                <th>Harga</th>
                <th>Kuantitas</th>
                <th>Diskon</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat=" product in products ">
                <td class="centered"><i class="fa fa-trash fa-3" ng-click="removeProduct($index)"></i></td>
                <td>{{ product.name }}</td>
                <td>{{ product.id }}</td>
                <td>
                    <select class="form-control input-sm " ng-model="product.unit_type" ng-options="item as item.unit_type_name for item in product.product_prices" >
                    </select>
                </td>
                <td class="goright">{{ product.unit_type.price | currency:"Rp. " }}</td>
                <td>
                    <input select-all numeric type="text" size="6" maxlength="6" ng-model="product.quantity" ng-change="updateTotal()" class="form-control goright">
                </td>
                <td>
                    <input select-all numeric type="text" size="4" maxlength="4" ng-model="product.discount" ng-change="updateTotal()" class="form-control goright">
                </td>
                <td class="goright">{{ product.total | currency:"Rp. " }}</td>
            </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td>Total</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="goright">{{ totalPrice|currency:"Rp. " }}</td>
                </tr>
            </tfoot>
            </table>
        </div>
    </div> <!-- col-lg-8 -->
    <div class="col-lg-4">
        <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i> Total Pembayaran</h4>
            <table class="table table-bordered table-striped table-condensed">
                <tbody>
                    <tr>
                        <td class="goleft">Total</td>
                        <td class="goright">{{ totalPrice|currency:"Rp. " }}</td>
                    </tr>
                    <tr>
                        <td class="goleft">Jumlah Uang</td>
                        <td class="goright">
                            <input select-all numeric type="text" size="4" maxlength="4" ng-model="cash" ng-change="updateChange()" class="form-control goright">
                        </td>
                    </tr>
                    <tr>
                        <td class="goleft">Kembalian</td>
                        <td class="goright">{{ change|currency:"Rp. " }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button class="btn btn-sm" ng-click="createPayment()">Bayar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> <!-- col-lg-4 -->
</div>
