<div class="row">
    <div class="form-panel">
        <a class="btn btn-default pull-right" ng-href="#/category/">Kembali ke list kategori</a>
        <h3 class="mb"><i class="fa fa-angle-right"></i> Update kategori obat</h3>

        <div ng-class="alert">
            {{ responseMessage }}
        </div>

        <form class="form-inline" role="form" ng-submit="updateCategory()">
            <div class="form-group">
                <label class="sr-only" for="category_field">Nama Kategori</label>
                <input type="hidden" ng-value="category.id">
                Nama Kategori <input type="text" id="category_field" class="form-control input-sm" ng-model="category.name" placeholder="Nama kategory">
            </div>
            <button type="submit" class="btn btn-sm">Submit</button>
        </form>
        <br/>
    </div>
</div>