<div class="row">
    <div class="form-panel">
        <a class="btn btn-default pull-right" ng-href="#/factory/">Kembali ke list pabrik</a>

        <h3 class="mb"><i class="fa fa-angle-right"></i> Update pabrik</h3>

        <div ng-class="alert">
            {{ responseMessage }}
        </div>
        <form class="form-inline" role="form" ng-submit="updateFactory()">
            <div class="form-group">
                <label class="col-sm-4 control-label" for="factory_field">Satuan Unit</label>
            </div>
            <div class="form-group">
                <input type="hidden" ng-value="factory.id">
                <div class="col-md-8">
                    <input type="text" id="factory_field" class="form-control" ng-model="factory.name"
                           placeholder="Nama pabrik">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-sm">Submit</button>
            </div>
        </form>
    </div>
</div>
