<h3><i class="fa fa-angle-right"></i> Produk</h3>

<div class="row mt">
    <div class="col-lg-12">
        <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i> List produk</h4>
            <a href="#/product/add">Tambah Produk</a>
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Nama Produk</th>
                    <th>Kategori</th>
                    <th>Subkategori</th>
                    <th>Keterangan</th>
                    <th>Aksi</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in products">
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.category_name }}</td>
                    <td>{{ product.subcategory_name }}</td>
                    <td>
                        <ul ng-repeat="product_price in product.product_prices">
                            <li>
                                Satuan: {{ product_price.unit_type_name }} <br/>
                                Harga Jual: {{ product_price.price }} <br />
                            </li>
                        </ul>
                    </td>
                    <td>
                        <a ng-click="deleteProduct(product)" class="btn btn-alt m-r-5">Hapus</a>
                        <a ng-click="updateProduct(product.id)" class="btn btn-alt m-r-5">Update</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
