<div class="block-area" id="inline">
    <h3 class="block-title">Update kategori obat</h3>
    <div class="alert alert-success ">
        {{ responseMessage }}
    </div>
    <form class="form col-md-5" role="form" ng-submit="updateSubCategory()">
        <div class="form-group">
            <label for="category_id">
                Kategori
            </label>
            <input id="category_id" type="text" class="form-control input-sm" ng-model="subcategory.category_name" disabled>
        </div>
        <div class="form-group">
            <label for="category_id">
                Subkategori
            </label>
            <input id="subcategory_id" type="text" class="form-control input-sm" ng-model="subcategory.name" placeholder="Nama">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-sm">Submit</button>
        </div>
    </form>
    <br/>
    <a class="block-title" ng-href="#/subcategory/">Kembali ke list subkategori</a>
</div>
