<h3><i class="fa fa-angle-right"></i> Embalase</h3>

<div class="row">
    <div class="form-panel">
        <a class="btn btn-default pull-right" ng-href="#/embalase/">Kembali ke list embalase</a>
        <h3 class="mb"><i class="fa fa-angle-right"></i> {{ title }}</h3>

        <div ng-class="alert">
            {{ responseMessage }}
        </div>

        <form class="form-horizontal style-form" role="form" ng-submit="updateEmbalase()">
            <input type="hidden" ng-value="embalase.id">
            <div class="form-group">
                <label class="col-sm-4 control-label" for="embalase_id">
                    Nama Embalase
                </label>
                <div class="col-sm-8">
                    <input type="text" id="embalase_field" class="form-control input-sm" ng-model="embalase.name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="embalase_id">
                    Harga
                </label>
                <div class="col-sm-8">
                    <input type="text" id="price_field" class="form-control input-sm" ng-model="embalase.price">
                </div>
            </div>
            <button type="submit" class="btn btn-sm">Submit</button>
        </form>
        <br/>
    </div>
</div>
