{% extends "account/base_account.html" %}

{% block content %}
<form class="form-login" method="post">
  {% csrf_token %}
  <h2 class="form-login-heading">Pendaftaran</h2>
  <div class="login-wrap">
    <input type="text" class="form-control" name="username" placeholder="Username" autofocus>
    <br>
    <input type="password" class="form-control" name="password" placeholder="Password">
    <label class="checkbox">
      <span class="pull-right">
        <a data-toggle="modal" href="login.html#myModal"> Forgot Password?</a>

      </span>
    </label>
    <button class="btn btn-theme btn-block" href="index.html" type="submit"><i class="fa fa-lock"></i> Register</button>
    <hr>

    <div class="registration">
      Sudah ada akun?<br/>
      <a class="" href="/login/">
        Login di sini.
      </a>
    </div>

  </div>

</form>
{% endblock %}
